.single-post-container {
  display: flex;
  flex-direction: column;
}

.c-singlePost-media {
  max-width: 1000px;
  margin-top: 10px;
  border-radius: 8px;
}

.c-singlePost-avatar-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 6px;
}

.c-singlePost-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #eee;
  padding-top: 12px;
}
